@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Myanmar:wght@400;700&display=swap');

body {
  font-size: var(--sharphway-font-size-medium);
  /* font-family: 'Noto Sans Myanmar', sans-serif; */
  /* letter-spacing: 0.2px; */
}

.bg-color {
  background: linear-gradient(-45deg, #fffaf6, #e3f0f1, #f8f7ff);
}

.dark-bg-color {
  background: linear-gradient(-45deg, #0d0c0b, #0b1f23, #18161d);
}

.bracketEff:before, .bracketEff:after {
	display: inline-block;
	opacity: 0;
	transition: transform 0.3s, opacity 0.2s;
}

.bracketEff:before {
	margin-right: 5px;
	content: '(';
	transform: translateX(10px);
}

.bracketEff:after {
	margin-left: 5px;
	content: ')';
	transform: translateX(-10px);
}

.bracketEff:hover:before, .bracketEff:hover:after {
	opacity: 1;
	transform: translateX(0px);
}

.bracketEff-active:before, .bracketEff-active:after {
	display: inline-block;
	opacity: 1;
	transition: transform 0.3s, opacity 0.2s;
}

.bracketEff-active:before {
	margin-right: 5px;
	content: '(';
	transform: translateX(0px);
}

.bracketEff-active:after {
	margin-left: 5px;
	content: ')';
	transform: translateX(0px);
}
